*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 14px 34px;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
}
.btn-line{
    font-size: 18px;
    font-weight: 600;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 10px;
    padding: 12px 34px;
}

/* header and navigation styles */
.header{
    background-color: #FFF8F3;
    background-image: url('..//images/header_bg.png'), url('..//images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: auto, 100px 600px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 50px 0;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
    margin-bottom: 50px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.profilepic{
    width: 130%;
    margin: 0;
    padding: 0;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #757575;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.info p{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* what I do section */
.work{
    margin-top: 130px;
    padding: 60px 120px;
}
.work-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.work-description{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #757575;
    margin-bottom: 30px;
}
.flex-box{
    display: flex;
    gap: 25px;
    
    
}
.app{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.app img{
    width: 30px;
    margin-bottom: 10px;
}
.app-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.app-info{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/* Resume styles */
.resume{
    margin-top: 130px;
    padding: 60px 120px;
}
.resume-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 100px;
}
.edu-ex{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.edu-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}
.degree{
    font-size: 22px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 20px;
}
.college{
    font-size: 18px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 20px;
}
.edu-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.5em;
    margin-bottom: 20px;
}
hr{
    color: #D1D1D1;
    margin-bottom: 30px;
}
.btn{
    text-align: center;
    margin-top: 30px;
}

/* footer section styles */
.foot{
    display: flex;
    gap: 80px;
    margin-top: 60px;
    padding: 130px 150px;
    background-color: #FFF8F3;
}
.address{
    width: 60%;
}
.add-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 28px;
}
.add-info{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
}
.icon a{
    text-decoration: none;
    margin-right: 20px;
}
.form{
    width: 30%;
}
.field{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 30px;
    border: 0;
}
textarea{
    border: 0;
    width: 100%;
    padding: 14px 30px;
}
.submit{
    font-size: 16px;
    color: white;
    background-color: #FD6E0A;
    padding: 14px 30px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}